html {
    background-color: antiquewhite;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    width:90%;
    max-width:70rem;
    overflow-x: hidden;
}

.box {
    max-width: 35rem;

}

.box img {
    flex-shrink: 1;
    max-width: 100%;
}

.lefttext {
    margin-left: 2rem;
}

@media (max-width:45em) {
    .lefthand {
   flex-direction: column;   
    }
}

@media (min-width:45em) {
    .lefttext {
        margin-top: 4rem;
    }
}



h1 {
    font-size: 2rem;
    margin-top: 0px;
}


#mainContainer {
    margin: 0 auto;
    max-width: 1080px;
    padding: 20px;
}


