html {
    background-color: antiquewhite;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    max-width: 1080px;
    overflow-x: hidden;
}

#topContainer {
    margin: 0 auto;
}

.leftBox {
    margin-top: 150px;
    margin-left:50px;
    width: 60%;
    flex-shrink: 1;
    min-width: 300px;
}

.hero {
    display: flex;
}

.hero img {
    max-width: 500px;
    flex-shrink: 1;
}


h1 {
    font-size: 2rem;
    margin-top: 0px;
}


#mainContainer {
    margin: 0 auto;
    max-width: 1080px;
    padding: 20px;
}


